html {
  -webkit-font-smoothing: auto;
}

.btn {
  text-transform: none;
}

.application, body {
  font-family: 'Open Sans', 'Quattrocento Sans', 'sans serif';
}

.application.theme--light {
  background: #fafafa;
  color:  rgb(113,113,113);
  fill:  rgb(113,113,113);
}

.theme--light .card,
.application .theme--light.card {
  color:  rgb(113,113,113);
  fill:  rgb(113,113,113);
}

.theme--light .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active), .application .theme--light.input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color:  rgb(113,113,113);
  fill:  rgb(113,113,113);
}


.card {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.card__title--primary {
    padding-top: 4px;
}
.card__title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

.list__tile {
    font-size: 14px;
 }
.input-group label {
  font-size: 14px;
}
.radio + .radio, .checkbox + .checkbox {
  margin-top: 10px;
}
.radio label, .checkbox label {
  padding-left: 0px;
  line-height: 20px;
}

.tooltip {
  position: absolute;
  z-index: initial;
  display: initial;
  font-family: initial;
  font-size: initial;
  font-style: initial;
  font-weight: initial;
  line-height: initial;
  text-align: initial;
  text-align: initial;
  text-decoration: initial;
  text-shadow: initial;
  text-transform: initial;
  letter-spacing: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
  white-space: initial;
  filter: initial;
  opacity: initial;

  line-break: auto;
}
