<!DOCTYPE html>
<html>
  <head>
    <title>Iobio Vue Skeleton</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Open+Sans:400,400i,600,600i,700|Quattrocento+Sans:400,700,700i|Material+Icons' rel="stylesheet" type="text/css">

  </head>
  <body>
    <div id="app"></div>
    <script src="js/util/util.js"></script>
    <script src="js/globalsDeployment.js"></script>
    <script src="js/globals.js"></script>
    <script src="js/model/genomeBuildHelper.js"></script>
    <script src="js/model/geneModel.js"></script>
    <script src="js/d3/gene.d3.js"></script>
    <script src="js/globalInstances.js"></script>
    <script src="dist/build.js"></script>
    <script>

    </script>
  </body>
</html>