@import variables


body
  font-family: $app-font, sans-serif !important


@import symbols

@import tooltip


.loader
  img
    width: 14px

.axis
  line, path
    fill: none
    stroke: lightgrey
    shape-rendering: crispEdges
    stroke-width: 1px
